# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
CoronaSentiment.Rproj
notes.html
notes.md

dat.RData

# RData

Austria_rawtext.RData
Belgium_dutch_rawtext.RData
Belgium_french_rawtext.RData
Bulgaria_rawtext.RData
Croatia_rawtext.RData
Cyprus_rawtext.RData
Czech_rawtext.RData
Denmark_rawtext.RData
Estonia_rawtext.RData
Finland_rawtext.RData
Finland_rawtext2.RData
France_rawtext.RData
Germany_rawtext.RData
Greece_rawtext.RData
Hungary_rawtext.RData
Iceland_rawtext.RData
Ireland_rawtext.RData
Italy_rawtext.RData
Italy2_rawtext.RData
Latvia_rawtext.RData
Lithuania_rawtext.RData
Malta_rawtext.RData
Netherlands_rawtext.RData
Norway_rawtext.RData
Poland_rawtext.RData
Portugal_rawtext.RData
Romania_rawtext.RData
Slovakia_rawtext.RData
Slovenia_rawtext.RData
Spain_rawtext.RData
Sweden_rawtext.RData
Switzerland_rawtext.RData
uk_rawtext.RData

# csv

Austria_rawtext.csv
Belgium_french_rawtext.csv
Bulgaria_rawtext.csv
Croatia_rawtext.csv
Cyprus_rawtext.csv
Czech_rawtext.csv
Denmark_rawtext.csv
Estonia_rawtext.csv
Finland_rawtext.csv
France_rawtext.csv
Germany_rawtext.csv
Greece_rawtext.csv
Iceland_rawtext.csv
Ireland_rawtext.csv
Italy_rawtext.csv
Italy2_rawtext.csv
Latvia_rawtext.csv
Lithuania_rawtext.csv
Luxemburg_rawtext.csv
Malta_rawtext.csv
Netherlands_rawtext.csv
Norway_rawtext.csv
Poland_excel_final.csv
poland_rawtext.csv
Portugal_rawtext.csv
Romania_rawtext.csv
Slovakia_rawtext.csv
Slovenia_rawtext.csv
Spain_rawtext.csv
Sweden_rawtext.csv
Switzerland_rawtext.csv

# excel

austria.xlsx
belgium_french.xlsx
bulgaria.xlsx
croatia.xlsx
czech.xlsx
denmark.xlsx
estonia.xlsx
finland.xlsx
france.xlsx
germany.xlsx
greece.xlsx
hungary.xlsx
iceland.xlsx
italy.xlsx
italy2.xlsx
latvia.xlsx
lithuania.xlsx
luxemburg.xlsx
malta.xlsx
norway.xlsx
poland.xlsx
portugal.xlsx
romania.xlsx
slovakia.xlsx
slovenia.xlsx
spain.xlsx
sweden.xlsx

cleaning_topwords.nb.html
cleaning_topwords.Rmd
CoronaSentiment.bib
CoronaSentiment.Rproj

Granat_Mazzag_TDK2021.log
Granat_Mazzag_TDK2021.pdf

logo.png

scrapping codes
scrapping raw csv
scrapping RData
translated excel

# pdf files

Granat_Mazzag_TDK2021_files/figure-latex/*
Granat_Mazzag_TDK2021_files/figure-latex/grid-1.pdf
Granat_Mazzag_TDK2021_files/figure-latex/unnamed-chunk-10-1.pdf
Granat_Mazzag_TDK2021_files/figure-latex/unnamed-chunk-15-1.pdf
Granat_Mazzag_TDK2021_files/figure-latex/unnamed-chunk-3-1.pdf
Granat_Mazzag_TDK2021_files/figure-latex/unnamed-chunk-4-1.pdf
Granat_Mazzag_TDK2021_files/figure-latex/unnamed-chunk-5-1.pdf
Granat_Mazzag_TDK2021_files/figure-latex/unnamed-chunk-6-1.pdf
Granat_Mazzag_TDK2021_files/figure-latex/unnamed-chunk-7-1.pdf
Granat_Mazzag_TDK2021_files/figure-latex/unnamed-chunk-9-1.pdf

